@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6b7280;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.custom-btn {
  @apply w-28 text-indigo-300 border border-indigo-300 hover:bg-indigo-300 hover:text-white active:bg-indigo-300 font-bold px-8 py-3 rounded outline-none focus:outline-none ease-linear transition-all duration-150 mx-auto;
}

.custom-icon-btn {
  @apply text-indigo-300 border border-indigo-300 hover:bg-indigo-300 hover:text-white active:bg-indigo-300 font-bold rounded-full px-2 py-2 outline-none focus:outline-none ease-linear transition-all duration-150 mx-auto;
}
